Decomposition
1. Import data & Import Library
2. Wrangle data || Drop Duplicates & Nan 
3. Feature Eng || Join tables
4. Run multicollinearity 
5. Run Model
6. Conclusion

In [2]:
import pandas as pd

In [3]:
messages = pd.read_csv('/Users/akmal/Documents/Masterskaya/STD_M2_purchase_in_90_days/filtered_data/apparel-messages.csv')
purchases = pd.read_csv('/Users/akmal/Documents/Masterskaya/STD_M2_purchase_in_90_days/filtered_data/apparel-purchases.csv')
target_binary = pd.read_csv('/Users/akmal/Documents/Masterskaya/STD_M2_purchase_in_90_days/filtered_data/apparel-target_binary.csv')

In [4]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202208 entries, 0 to 202207
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     202208 non-null  int64
 1   quantity      202208 non-null  int64
 2   price         202208 non-null  float64
 3   category_ids  202208 non-null  object
 4   date          202208 non-null  object
 5   message_id    202208 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.3+ MB

In [33]:
purchases.groupby(['client_id', 'price', 'category_ids', 'date', 'message_id'],as_index=False)['quantity'].sum()

,client_id,price,category_ids,date,message_id,quantity
0,1515915625468060902,199.0,"['4', '27', '176', '458']",2022-05-27,1515915625468060902-4617-6290657dac196,2
1,1515915625468060902,299.0,"['4', '28', '290', '422']",2022-05-27,1515915625468060902-4617-6290657dac196,1
2,1515915625468060902,999.0,"['4', '28', '244', '432']",2022-05-27,1515915625468060902-4617-6290657dac196,1
3,1515915625468060902,1299.0,"['4', '27', '1828', '1599']",2022-05-27,1515915625468060902-4617-6290657dac196,1
4,1515915625468060902,1999.0,"['4', '28', '260', '420']",2022-05-27,1515915625468060902-4617-6290657dac196,2
...,...,...,...,...,...,...
129013,1515915626010261344,1499.0,"['2', '18', '212', '726']",2024-02-16,1515915626010261344-14648-65cdb6d56c4c8,6
129014,1515915626010266132,909.0,"['4', '27', '278', '470']",2024-02-14,1515915625999374481-14623-65c5c5acbad8c,2
129015,1515915626010439406,99.0,"['4', '27', '233', '462']",2024-02-16,1515915625776605028-14662-65cf3abfe4f0d,2
129016,1515915626010443527,1999.0,"['2', '18', '274', '446']",2024-02-16,1515915625766077627-14668-65cf5246bd490,1
129017,1515915626010443624,999.0,"['4', '28', '62', '656']",2024-02-16,1515915625488468007-14668-65cf5234b1295,1

In [32]:
purchases.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202208 entries, 0 to 202207
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   client_id     202208 non-null  int64
 1   quantity      202208 non-null  int64
 2   price         202208 non-null  float64
 3   category_ids  202208 non-null  object
 4   date          202208 non-null  object
 5   message_id    202208 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 9.3+ MB